<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/public/index.css">
</head>
<body>

<h3 class="h3_complete">Game Complete</h3>
<p class="img">
  <img src="https://cdn.shopify.com/s/files/1/0951/6740/products/12195__1.jpg?v=1481742189" alt="penguin" style="min-width: 500px; max-height: 500px">
</p>

</body>
</html>